* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: #f4f7f6; /* απαλό γκρι για φόντο σελίδας */
    --card-bg: #ffffff; /* λευκό για τα κουτιά */
    --primary-color: #00adb5; /* tech vibe */
    --text-darkk: #222831; /* μαύρο για τίτλους */
    --text-grey: #e0e0e0; /* γκρι για κείμενα */
    --code-bg: #e0e0e0; /* Φόντο για τα skills */

    --border-radius-card: 12px; /* Στρογγυλεμένες γωνίες για τα κουτιά */
    --border-radius-cloud: 50px; /* Για το "σύννεφο" */
    --shadow: 0 4px 6px rgba(0,0,0,0.1); /* Ελαφριά σκιά για βάθος */
}

body {
    background-color: var(--bg-color);
    font-family: 'Roboto', sans-serif;
    color: var(--text-grey);
}


/* HEADER */

.container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 10px;
    height: 130px;
}

.title {
    background-color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: cyan;
}

.title h2 {
    margin-top: 15px;
}

.personal-info {
    background-color: var(--card-bg);
    border-radius: var(--border-radius-cloud);
    box-shadow: var(--shadow);

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 30px;
    margin: 10px auto;
    border: 1px solid var(--primary-color);
}

.info-links i {
    font-size: 40px;
    margin-top: 30px;
    margin-left: 15px;
}

.info-links i:hover {
    font-size: 45px;
    color: #333;
}


/* MAIN */

.education, .work-history, .tech-skills, .add-info {
    background-color: var(--card-bg);
    border-radius: var(--border-radius-card);
    box-shadow: var(--shadow);
    border-left: 5px solid var(--primary-color);
    padding: 25px;
}

/* LEFT-COLUMN */
main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    height: 80vh;
}

.scrollbar {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    overflow: hidden;
    gap: 10px;
    background-color: transparent;
}

.scrollbar div {
    overflow-y: auto;
    padding: 20px;
    min-height: 0;
}

.education {
    margin-top: 10px;
}

.work-history {
    
}

/* RIGHT COLUMN */
.technical {
    display: grid;
    gap: 10px;
    grid-template-rows: auto auto;
}

.tech-skills {
    padding: 20px;
}

.add-info {
    padding: 20px;
}

/* RIGHT COLUMN CONTENT */

.tech-skills .value{
    font-family: 'Fira Code', monospace;
    /* font-size: 0.95rem; */
    color: var(--text-darkk);
}

.tech-skills strong {
    background-color: var(--code-bg);
    border-radius: 5px;
}

.tech-skills h3 {
    margin-bottom: 15px;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    font-size: 1.5rem;
}

.skills-list li {
    margin-bottom: 10px;
    margin-left: 5px;
    line-height: 1.5;
    font-size: 1.2rem;
    list-style: none;
}

.category {
    font-weight: bold;
    color: #2c3e50;
    display: block;
}

.add-info h3 {
    margin-bottom: 15px;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    font-size: 1.3rem;
}

.value {
    display: block;
}

/* FOOTER */

footer {
    padding: 20px;
    text-align: center;
    margin-top: 10px;
}

.footer-content p {
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.copyright {
    margin-top: 15px;
    font-size: 0.8rem;
    opacity: 0.7;
}





/* MEDIA */

@media (max-width: 768px) {
    
    
    .container {
        grid-template-columns: 1fr; 
        height: auto; 
        text-align: center; 
    }

    main {
        grid-template-columns: 1fr; 
        height: auto; 
    }

    .scrollbar div {
        overflow-y: visible;
        height: auto; 
    }
}