* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: blanchedalmond;
}


/* HEADER */

.container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 10px;
    height: 130px;
}

.title {
    background-color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: cyan;
}

.title h2 {
    margin-top: 15px;
}

.personal-info {
    background-color: lightblue;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
}

.info-links i {
    font-size: 40px;
    margin-top: 30px;
    margin-left: 15px;
}

.info-links i:hover {
    font-size: 50px;
    color: #333;
}


/* MAIN */

/* LEFT-COLUMN */
main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    background-color: aqua;
    height: 80vh;
}

.scrollbar {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    overflow: hidden;
    gap: 10px;
}

.scrollbar div {
    overflow-y: auto;
    padding: 20px;
    min-height: 0;
}

.education {
    background-color: yellowgreen;
    margin-top: 10px;
}

.work-history {
    background-color: yellow;
}

/* RIGHT COLUMN */
.technical {
    display: grid;
    gap: 10px;
    grid-template-rows: 2fr 1fr;
}

.tech-skills {
    background-color: aliceblue;
    padding: 20px;
}

.add-info {
    background-color: aquamarine;
    padding: 20px;
}







/* MEDIA */

@media (max-width: 768px) {
    
    
    .container {
        grid-template-columns: 1fr; 
        height: auto; 
        text-align: center; 
    }

    main {
        grid-template-columns: 1fr; 
        height: auto; 
    }

    .scrollbar div {
        overflow-y: visible;
        height: auto; 
    }
}